<html>
<link href="/static/css/dangerous.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/static/css/menu.css">
<head>
<script src="/static/js/menu.js"></script>
<script src="/static/js/temp.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://malsup.github.com/jquery.cycle2.js"></script>
<script type="text/javascript">
function confirm_alert(node) {
    return confirm("Please click on OK to continue.");
}
</script>
<title>우리 아이가 타고있어요</title>
<img src="/static/images/logo.png" width="100" height="70">
<div style="float: right";>
	<img src="/static/images/logo.png" width="100" height="70">
</div>
<titlefont>
<centerling>우리 아이가</titlefont><b><red1>타고</red1></b><titlefont>있어요</titlefont></centerling>
</head>
<body>
<div id="wrapper">
		<nav id="topMenu">
			<ul>
				<li class="topMenuLi"><a class="menuLink"
					href="main.html">모니터링</a>
				<li>|</li>
				<li class="topMenuLi"><a class="menuLink"
					href="dangerous.html">단계별 상황 관리</a>
					<ul class="submenu">
						<li><a href="dangerous.html" class="submenuLink longLink">등급 발령</a></li>
						<li><a href="admin.html" onclick="alert('관리자 도구입니다.')" class="submenuLink longLink">관리자 도구</a></li>
					</ul></li>
			</ul>
		</nav>
	</div>
	<h1>현재 상황 : 2단계</h1>
	<center>
	<sow><strong> <whilte1>최고온도(60℃): </whilte1> </strong>
	<meter value="10" min="0"  max="100" > 60% </meter></p></center></sow>
	<center><sow>위험온도를 설정해 주십시오.(기본 값 100)</sow>
	<br>
	<input type="text" id="input" />
	<input type="button" value="확인" onClick="numberCheck()" /><br><br><br><br>
	<img src="/static/images/map.jpg" width = "448" height = "336">
	</center>
	<br><br><br><br>
	<cente