<html>
<link href="/static/css/main.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/static/css/menu.css">
<head>
<script src="/static/js/menu.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://malsup.github.com/jquery.cycle2.js"></script>

<style>

</style>
<title>우리 아이가 타고있어요</title>
<img src="/static/images/logo.png" width="100" height="70">
<div style="float: right";>
	<img src="/static/images/logo.png" width="100" height="70">
</div>
<titlefont>
<centerling>우리 아이가</titlefont><b><red1>타고</red1></b><titlefont>있어요</titlefont></centerling>
</head>
<body>
<div id="wrapper">
		<nav id="topMenu">
			<ul>
				<li class="topMenuLi"><a class="menuLink"
					href="main.html">모니터링</a>
				<li>|</li>
				<li class="topMenuLi"><a class="menuLink"
					href="dangerous.html">위기등급 관리</a>
					<ul class="submenu">
						<li><a href="dangerous.html" class="submenuLink longLink">등급 발령</a></li>
						<li><a href="main.html"onclick="alert('등급을 2등급으로 올려주세요.')" class="submenuLink longLink">관리자 도구</a></li>
					</ul></li>

			</ul>
		</nav>
	</div>
	<br>
	<center><img alt="" src="/static/images/backpic2.jpg" /></center>
	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<strong> <whilte1>최고온도(60℃): </whilte1> </strong>
	<meter value="60" min="0"  max="100" > 60% </meter></p>
</body>
</html>