<html>
<head>
<style type="text/css">
.image {

 position:relative;

 float:left; /* optional */

}

.image .text {

 position:absolute;

 top:40px; /* in conjunction with left property, decides the text position */

 left:80px;

 width:700px; /* optional, though better have one */

}
</style>
</head>
<body>
<div class="image">

                <img alt="" src="assets/image/backpic2.jpg" />

                <div class="text">

                    <h1>¡Ü</h1><br>
                    <h1>¡Ü</h1><h1>¡Ü</h1>
                    <h1>¡Ü</h1>

                </div>

            </div>
</body>
</html>

